@model User

<link rel="stylesheet" href="~/css/login.css">

<form id="loginForm">
  <h1>Profile</h1>
  <div>
    <label for="Username">Username</label>
    <input id="Username" type="text" disabled value="@Model.UserName">
  </div>
  <div>
    <label for="Email">Email</label>
    <input id="Email" type="email" value="@Model.Email" disabled>
  </div>
  <br>
  <button onclick="redirectToAction('/User/ChangePassword')" type="button" class="submitbtn">Change Password</button>
  <br>
  <br>
  <div>
    <label for="Balance">Balance</label>
    <input id="Balance" type="text" value="@Model.Balance" disabled>
    <button type="button" class="submitbtn" onclick="redirectToAction('/User/CashIn')">Cash In</button>

  </div>
  <br>
  <div>
    <label for="StockBalance">Stocks Balance</label>
    <input id="StockBalance" type="text" value="@Model.StocksBalance" disabled>
    <button type="button" class="submitbtn" onclick="redirectToAction('/UserStock/GetAllForUser')">My Stocks</button>
  </div>
</form>

@section Scripts {
  <script src="~/js/site.js" asp-append-version="true"></script>
}
