@model IEnumerable<UserStock>

<h1>My all Stocks</h1>

@if (Model.Any() == false)
{
  <span>No stocks found</span>
}
else
{
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var userStock in Model)
      {
        <tr>
          <td>@userStock.StockName</td>
          <td>@userStock.StockCount</td>
        </tr>
      }
    </tbody>
  </table>
}