@model IEnumerable<StockPriceHistory>

<table id="stock_table" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">TimeStamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr style="cursor: pointer">
                    <td>@stock.Price $</td>
                    <td>@stock.DateTime</td>
                </tr>
            }
        </tbody>
    </table>