<h1>Trading App</h1>

<span>
    This is is developed for operations with stocks
</span>

<br>

<ul>
    <li>/stock/getall - gets all the stocks</li>
    <li>/stock/ with delete http method and query string that has an id - deletes a stock</li>
    <li>/stock/ with put http method and json - edits a stock</li>
    <li>/stock/ with post http method and json - creates a stock</li>
    <li>/stock/GetById with get http method and query string that has an id - gets a stock</li>
    <li>/stock/GetByName with get http method and query string that has a name - gets all stocks with same name</li>
</ul>