@model IEnumerable<Stock>

<h1>All Stocks</h1>

@if (Model.Any() == false)
{
  <span>No stocks found</span>
}
else
{
  <div class="container">
    <div class="row">
      <div class="col-sm border" >
        Symbol:
      </div>
      <div class="col-sm border">
        Name:
      </div>
      <div class="col-sm border">
        Market Capacity:
      </div>
    </div>
    @foreach (var stock in Model)
    {
      <div class="row">
        <div class="col-sm border">
          @stock.Symbol
        </div>
        <div class="col-sm border">
          @stock.Name
        </div>
        <div class="col-sm border">
          @stock.MarketCap
        </div>
      </div>
    }
  </div>

}
