@using Microsoft.AspNetCore.Http

@{
    var LoginVisibilityCheck = User.FindFirst("UserId") is not null ? "hidden" : "";
    var LogoutVisibilityCheck = User.FindFirst("UserId") is null ? "hidden" : "";
    var isUserAdmin = User.FindFirst(ClaimTypes.Role) is not null && User.FindFirst(ClaimTypes.Role).Value == "Admin";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TradingApp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Trading App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stock"
                                asp-action="GetAll">Stocks</a>
                        </li>
                        @if (isUserAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Stock" asp-action="Create">Create
                                    Stock</a>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" @LoginVisibilityCheck>
                            <a class="nav-link text-dark" asp-area="" asp-controller="User"
                                asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item" @LoginVisibilityCheck>
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item dropdown" @LogoutVisibilityCheck>
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="User"
                                    asp-action="Profile">Profile</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="UserStock"
                                    asp-action="GetAllForUser">My Stocks</a>
                            </div>
                        </li>
                        <li class="nav-item" @LogoutVisibilityCheck>
                            <a class="nav-link text-dark" asp-area="" asp-controller="User"
                                asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
