@model IEnumerable<Stock>
    
<h1>Welcome to Trading App</h1>

<p>Recent Stocks</p>

@if (Model.Any() == false)
{
  <span>No recent stocks found</span>
}
else
{
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Market Capacity</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var stock in Model)
      {
        <tr style="cursor: pointer" onclick="redirectToAction('/UserStock/Create?stockName=@stock.Name&stockId=@stock.Id')">
          <td>@stock.Symbol</td>
          <td>@stock.Name</td>
          <td>@stock.MarketCap</td>
        </tr>
      }
    </tbody>
  </table>
}

@section Scripts {
  <script src="~/js/site.js" asp-append-version="true"></script>
}
